#outside {
    z-index: 1;
    position: absolute;
    background-color: rgb(245, 138, 138);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-origin: 0;
  }
  
  h1 {
    color:white;
    font-size:15px;
    text-align:center;

  }
  .open-card {
    transform: rotateY(90deg);
  }
  
  #outside-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    font-size: 16pt;
    text-align: center;
  }
  
  #outside-pic {
    width: 250px;
    height: 300px;
    align-items: center;
  }
  
  #outside-help {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    text-align: center;
    padding: 25px;
  }
  
  #inside {
    z-index: 0;
    position: absolute;
    background-color: rgb(231, 77, 77);
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  #inside-title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    text-align: center;
  }
  
  #inside-pic {
    width: 300px;
    height: 250px;
  }
  
  #message {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    text-align: center;

  }
  
  button {
    background: rgb(231, 219, 110);
  }